@import '../../assets/scss/variables';

.chat-wrapper {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  height: 100%;

  .controller {
    padding: 24px 0;
    display: flex;
    flex: 0 1 auto;

    > span {
      padding: 8px 11px;
      border: 1px solid $darkGray;
      border-radius: 4px;
      min-width: 91px;
      min-height: 40px;
      margin: 0 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $mediumGray;

      &.active,
      &:hover {
        background: var(--purple100);
        color: $white;
      }
    }
  }

  .content {
    height: 100%;
    display: flex;

    .chat-list-area {
      max-width: 420px;
      margin-bottom: 0;

      .panel-header {
        .header-part-title {
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;

          h1 {
            margin-right: 15px;
            font-size: 20px;
            font-weight: $fontBold;
            line-height: 28px;
          }

          button {
            background: $green0;
          }
        }

        .header-part-search {
          > span {
            height: 44px;
            background-color: $gray0;
            padding: 12px 5px 12px 16px;

            &:focus,
            &:hover,
            &:active,
            &.ant-input-affix-wrapper-focused  {
              border-color: var(--purple100);
            }

            > span {
              margin-right: 9px;
            }

            input {
              background-color: transparent;
              color: $mediumGray;
              font-size: 14px;
              font-weight: $fontLight;
            }
          }
        }
      }

      .chat-content {
        border-radius: $brs;
        background: transparent;
  
        .ant-list-items {
          overflow-y: auto;
          overflow-x: hidden;
          padding: 0 10px 3px 10px;
        }
  
        .ant-list-item {
          padding: 6px;
          justify-content: flex-start;
          border-radius: $brs;
          margin-top: 8px;
          box-shadow: none;
          height: 100%;
          border: none;

          &.active,
          &:hover {
            background: $gray0;
            cursor: pointer;
          }
  
          &.new-message {
            .ant-list-item-meta-description {
              span:first-child {
                color: var(--purple100);
                font-weight: $fontBold;
              }
            }
          }
        }
  
        .avatar {
          width: 42px;
          height: 40px;
          border-radius: 50%;
          position: relative;
  
          > svg {
            width: 100%;
            height: 100%;
          }
  
          &.active::after {
            content: "";
            width: 8px;
            height: 8px;
            background: $success;
            border: 1px solid $white;
            border-radius: 50%;
            position: absolute;
            right: 5px;
            bottom: 0;
          }
        }
  
        .ant-list-item-meta-title {
          strong {
            font-weight: $fontBold;
          }
        }
  
        .ant-list-item-meta-description {
          line-height: 19px;
          font-size: 12px;
          align-items: baseline;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 0;
    
          span:first-child {
            font-weight: $fontLight;
            color: $neutral-400;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
  
          span.time {
            font-size: 9px;
            font-weight: $fontNormal;
            color: $blue;
            margin-left: 6px;
          }
  
          &.wide {
            max-width: calc(100% - 25px);
            > div {
              &:first-child {
                display: block;
              }
  
              span:first-child {
                max-width: calc(100% - 25px);
              }
            }
          }
        }
  
        .ant-list-item-action {
          text-align: center;
          width: 25px;
          margin: 0;
  
          .ant-list-item-action-split {
            display: none;
          }
  
          .btn-dots {
            background: transparent;
            color: $mediumGray;
            border: 0;
            text-align: right;
            box-shadow: none;
  
            &:hover,
            &:active {
              color: $lightGray;
            }
          }
        }
      }
    }

    .chat-area {
      margin-left: 2px;
      width: calc(100% - 420px);
      
      > div {
        padding: 24px 0 0;
      }

      .panel-header {
        border-bottom: 1px solid $darkGray;
        padding: 0 16px 24px;
        min-height: 65px;

        .ant-list-item-meta {
          display: flex;

          .ant-list-item-meta-avatar {
            margin-right: 24px;
          }

          .ant-list-item-meta-content {
            > h4 {
              font-size: 16px;
              font-weight: $fontBold;
              line-height: 24px;
              color: $white;
            }

            > div {
              font-size: 12px;
              font-weight: $fontLight;
              line-height: 19px;
              color: $gray60;
            }
          }
        }
      }

      .panel-body {
        > div {
          order: 0;
          flex: 1 1 auto;
          align-self: auto;   

          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-content: stretch;
          align-items: stretch;
          height: 100%;

          > div {
            order: 0;
            flex: 1 1 auto;
            align-self: auto;   

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: stretch;
          }

          .chat {
            padding: 16px 32px;
          }
  
          .chat-controller {
            padding: 0 32px 16px;
            flex: 0 1 auto;
            display: flex;
            flex-direction: row;
            align-items: center;

            > button {
              margin-right: 16px;

              &:first-child:hover {
                background-color: transparent;

                path {
                  fill: var(--purple100);
                }
              }

              &:nth-child(2):hover {
                background-color: transparent;

                svg {
                  color: var(--purple100) !important;
                }
              } 
            }

            .chat-part-input {
              width: 100%;

              > span {
                height: 56px;
                background-color: $black;

                &:focus,
                &:hover,
                &:active,
                &.ant-input-affix-wrapper-focused  {
                  border-color: var(--purple100);
                }

                input {
                  background-color: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}